<ion-header>
    <ion-toolbar color="primary">
        <ion-title class="ion-text-center">Monitoring Suhu Pasien</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list *ngFor="let pasien of (fbPasien | async)" [routerLink]="['./', pasien.id_pasien]">
        <ion-item *ngIf="pasien.suhu_badan > 37.2" color="danger">
            <ion-thumbnail slot="start">
                <ion-img [src]="pasien.imageUrl"></ion-img>
            </ion-thumbnail>
            <ion-label>
                <h1>{{ pasien.nama_pasien }}</h1>
                <h3>R.{{ pasien.ruangan_perawatan }}</h3>
            </ion-label>
        </ion-item>
        <ion-item *ngIf="pasien.suhu_badan < 37.2">
            <ion-thumbnail slot="start">
                <ion-img [src]="pasien.imageUrl"></ion-img>
            </ion-thumbnail>
            <ion-label>
                <h1>{{ pasien.nama_pasien }}</h1>
                <h3>R.{{ pasien.ruangan_perawatan }}</h3>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>